/* Menu Separators */
.menu-separator {
    color: var(--secondary);
    opacity: 0.5;
    padding: 0 0.5rem;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .menu-separator {
        display: none;
    }
}
